<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="toolDataBo" class="com.tool.rental.bo.ToolDataBoImpl">
        <constructor-arg name="toolDataDao" ref="toolDataDao" />
    </bean>
    <bean id="toolDataDao" class="com.tool.rental.dao.ToolDataDaoImpl" />
    <bean id="pointOfSale" class="com.tool.rental.PointOfSale">
        <constructor-arg name="toolDataBo" ref="toolDataBo" />
    </bean>
</beans>